.Container-job {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Container-job h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  color: orange;
}

.Card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 15px;
  flex-direction: row;
}
 


.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 1rem;
  padding: 20px;
  border: 2px solid black;
}

.Card button {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  background: whitesmoke;
  font-weight: bold;
}

.see__more {
  padding: 15px 28px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}

.Card img {
  width: 80px;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .Card__container {
    flex-direction: column;
    align-items: center;
  }

  .Card {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
