.banner3 {
    background-image: url("https://t4.ftcdn.net/jpg/02/18/18/55/240_F_218185587_P4zituDtWJOfClUKL6merI0BgLMIxoeC.jpg");
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Display content vertically */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .banner-text {
    font-size: 20px;
    text-align: center; /* Center text */
  }
  
  .task {
    font-size: 16px;
  }
  .moreButton {
    background-color: #007bff; /* Blue background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 16px; /* Font size */
    margin-top: 20px; /* Margin from the top */
  }
  
  .moreButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }  